Invalid host name error when it starts with a number

Hey folks, we're seeing an interesting error when we migrated to Hapi 20. When we start a Hapi server on a docker host for example, using 

```
this.server = Hapi.server({
    port: this.options.port,
    host: this.options.host 
});
```

In this case the hostname is an autogenerated alphanumeric. If the hostname starts with a number, we see an error:

`"host" must be a valid hostname`

Here's my analysis, when the host is just the hostname without any domain and tld suffix, the number of segments [here](https://github.com/hapijs/validate/blob/5882293234866528de6406a823098b8f9ed9499b/lib/types/string.js#L691) is `1`.

And in the loop, [it gets tested if it is a tdlSegment](https://github.com/hapijs/validate/blob/5882293234866528de6406a823098b8f9ed9499b/lib/types/string.js#L710). Since the hostname starts with a number, it fails here. 

I believe if the number of segments is 1, we can assume that it is the hostname(machine name) and not a tdlSegment. In which case, we test it for a domainSegment.

Please let me know your thoughts.



I believe you are correct.  In fact having a single segment isn't even a special case.  The validation currently follows RFC 1035, but updates in RFC 1123 seem to specifically relax the requirement that the segment must not begin with a numeric digit.  There is some scattered material on this if you search around the web, but this resource summarizes it all better than I've seen elsewhere (note that they once write "RFC-1039" when they mean "RFC-1035"): https://cs.uwaterloo.ca/twiki/view/CF/HostNamingRules#RFC1123

> Hey folks, we're seeing an interesting error _when we migrated to Hapi 20_.

Can you confirm that this used to work correctly on a previous version of hapi?  If so, which version was working fine for you before?

Thanks for getting back! Confirming that it is working on previous versions of Hapi as of `18.4.x`.

I was able to track this down to joi v17 which was integrated into hapi in v19.0.0 then adapted into this module for v20.

Just want to note that doing a little more research has made this a bit more confusing 😆 .  It looks like the validation was actually following the spirit of RFC 1123.  There are protections related to the TLD's validation primarily in order to make it possible to distinguish an IP versus a domain.  I believe a sound interpretation is to relax the TLD validation from requiring it to start with an alphabetic character to ensuring that it is not _all-numeric_.  This is supported by [RFC 3696 section 2](https://tools.ietf.org/html/rfc3696#section-2)'s clarification to RFC 1123.  See also https://serverfault.com/a/638270.  I believe docker [is careful](https://github.com/docker/docker-ce/blob/6c81bbd59d78f35499d47a5832656b727e9925a0/components/engine/pkg/stringid/stringid.go#L47-L49) not to create all-numeric hostnames.

Ah I see. I agree with your interpretation. 
Currently, we do a isDomainValid check where the last `segment` gets the tld check. If that fails (because the segment starts with a number), we perform an ipRegex test https://github.com/hapijs/validate/blob/5882293234866528de6406a823098b8f9ed9499b/lib/types/string.js#L342.